.coll-container .text-wrapper {
    position: absolute;
    bottom: 0px;
    width: 45%;
    background: #fff;
    padding: 6px 0px;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.coll-container{
padding: 10px;
}